/liquid-democracy-api/target
/liquid-democracy-model/target
/liquid-democracy-api/.settings
/liquid-democracy-model/.settings
/liquid-democracy-api/.project
/liquid-democracy-model/.project
/liquid-democracy-api/.classpath
/liquid-democracy-model/.classpath
/liquid-democracy-model/.idea
/liquid-democracy-api/.idea
*.iml
/liquid-democracy-api/logs
RemoteSystemsTempFiles
.metadata
.recommenders
/Servers
/TestApi
/liquid-democracy-api/liquid-democracy-api-logs/logs/*
